@namespace url(http://www.w3.org/1999/xhtml);

/* 
 * Adapted from:  
 * source: https://userstyles.org/styles/97727/doxygen-clean 
 * 
 * Additional customizations at bottom of file. 
 */

body {
    max-width: 90em;
    margin: 0 auto;
    background: white;
}

table.pageheader { 
    background: none; 
}

#titlearea {
    border-bottom: 1px solid #F0F0F0;
    padding: 2em 0 1em 0;
}

#top {
    border-bottom: 3px solid #0C6FA9;
    box-shadow: none;
}

.tabs, .tablist li, .tablist li a, .tablist li a:hover {
    background: none;
    text-shadow: none;
    color: #333;
}

.tabs, .tabs2, .tabs3 { position: relative; }

.tabs { background: white; }

.tabs2 { background: #3C9FD9; }

.tabs2 .tablist li a { color: white; }

.tabs3 { background: #FAFAFA; }

.tablist li a:hover {
    background: #3C9FD9;
    color: white;
}

.tablist li.current a {
    background: #0C6FA9;
    text-shadow: none;
}

.tablist li.current a:hover {
    color: white;
}

#side-nav {
    float: left;
    position: relative;
    top: 0 !important;
    left: 0 !important;
}

#side-nav > .ui-resizable-e {
    background: #3C9FD9;
    width: 3px;
    right: 3px;
}

#nav-tree {
    background: #FDFDFD;
}

#nav-tree .item > a > img { opacity: 0.9; }

#nav-tree .item .label a {
    color: #0C6FA9;
}

#nav-tree .item.selected {
    background: #0C6FA9;
    text-shadow: none;
}

#nav-tree .item.selected a {
    color: white;
}

#doc-content .contents {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0;
    padding: 0 1em;
}

#doc-content .header {
    background: none;
    border-bottom: 1px solid #D3D3D3;
}

#doc-content .groupheader {
    color: #F98F0C;
    border-bottom: 1px solid #F98F0C;
}

#doc-content .toc {
    padding: 1em;
    border-radius: 0;
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
}

#doc-content .memproto {
    background: #FAFAFA;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

#doc-content .memproto .memname {
    color: #0C6FA9;
}

#doc-content .paramname {
    color: #F98F0C;
}

#doc-content .memdoc {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

#doc-content .memdoc .fragment {
    background: #FAFAFA;
    color: #111;
    border: 1px solid #3C9FD9;
}

.mlabels .mlabel {
    background: #0C6FA9;
    border-radius: 2px;
    padding: 3px 4px;
    border: 1px solid #3C9FD9;
}

#nav-path ul {
    background: #3C9FD9;
    border: none;
    margin-top: 2px;
    padding-left: .5em;
}

#nav-path .navelem {
    background: none;
    padding: 0 0 0 .7em;
}

#nav-path .navelem a {
    text-shadow: none;
    color: white;
}

#nav-path .navelem + .navelem .el::before {
    content: "»";
    margin-right: .7em;
}

#nav-path .footer { display: none; }

    
    
/* 
 * Additional customization 
 */    

#titlearea {
    background-image: url('logo.png'); 
    background-repeat: no-repeat; 
    background-position: 100% 65%;
}

#nav-path .navelem a {
    color: #364D7C;
}

.navpath li.footer {
    color:#364D7C;
    font-size: 8pt;
}

span.keyword {
    color: #000000
}

span.keywordtype {
    color: #000000
}

span.keywordflow {
    color: #000000
}

span.comment {
    color: #008000
}

span.preprocessor {
    color: #000000
}

span.stringliteral {
    color: #A31515
}

span.charliteral {
    color: #A31515
}

a.code, a.code:visited, a.line, a.line:visited {
    color: #0C6FA9
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited {
    color: #0C6FA9
}

#doc-content .paramname {
    color: #F98F0C;
}
    
#doc-content .groupheader {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: #FFFFFF;
    border: none;
    margin: 4px;
    padding: 1px 0 0 8px;
}

pre.fragment {
    background-color: #FFFFFF;
}

div.fragment {
    background-color: #FFFFFF;
    margin: 10px 0px;
    padding: 16px;
}

.memproto, dl.reflist dt {
    font-size: 150%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 30px 0px 20px 0px;
    background-color: #F0F0F0;
}

.memdoc, dl.reflist dd {
    border-bottom: none;  
    border-left: none;      
    border-right: none; 
    background-color: #FFFFFF;
}

#doc-content .memdoc .fragment {
    background: #FFFFFF;
    border: 1px solid #C4CFE5;
}

#side-nav > .ui-resizable-e {
    background: #0C6FA9;
}

#nav-path ul {
    background: #FFFFFF;
    border-top: 1px solid #F0F0F0;    
}
  
#nav-path .footer { 
    display: inline; 
}

.directory td.entry {
    padding: 4x;
}

.directory td.desc {
    padding: 4px;
}

.directory tr.even {
    background-color: #FFFFFF;
}

